{
  "parser": "babel-eslint",
  "extends": [
    "react",
    "prettier"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "no-unused-vars": 1,
    "no-alert": 0,
    "react/prop-types": 0,
    "max-depth": 0,
    "no-nested-ternary":0
  }
}