@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: Roboto;
    }

    ::-webkit-scrollbar {
        display: none;
    }
}

@layer utilities {
    .set-scrollbar::-webkit-scrollbar {
        width: 2px;
        height: 2px;
        display: block;
    }

    .color-scrollbar::-webkit-scrollbar-thumb {
        background-color: #1e3a8a;
        border-radius: 1px;
    }

}